@keyframes roll {
  0% {
    transform: translateX(300%) rotate(0);
  }
  100% {
    transform: translateX(0) rotate(-360deg);
  }
}

.animate-roll {
  animation: roll 1s ease-in forwards;
}

@keyframes move-bg {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.animate-bg {
  animation: move-bg 1s linear;
}
